body {
    text-align:center;
    background-color: rgb(195, 255, 255);
}

h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p{
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
img {
    max-width: 100%;
    height: auto;
}
img{
    height: 300px;
    width: 300px;
    border-radius: 5%;
    box-shadow: 2px 2px 2px 2px;
}
.column {
    float: left;
    width: 32%;
    padding: 5px;
}

.column table{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2;
}

.bintang1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bintang1 .column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Bayu1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Bayu1 .column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Panji1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Panji1 .column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}